.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Header {
  background-color: #ffffff;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#nav-menu > li {
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  font-family: "Markazi Text", serif;
}

#nav-menu > li > a:link {
  color: #495749;
}

#nav-menu > li > a:hover, a:active {
  color: #f4ce14;
}

#nav-menu > li > a:visited {
  color: #b790d0;
}

.Footer {
  background-color: #495749;
}