.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Header {
  background-color: #ffffff;
  min-height: 10vh !important;
  font-size: calc(10px + 2vmin);
  top: 0;
  text-decoration: none;
  vertical-align: text-bottom;
  box-shadow: 0 3px 3px -3px rgba(0,0,0,.2);
  overflow-x: hidden;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-menu > ul {
  font-family: "Markazi Text", serif;
  float: center;
  background-color: white;
}

#logo {
  padding: 5px 5%;
  min-width: 20%;
  width: 15vw;
}

#icon {
  visibility: hidden;
  padding-right: 5%;
  width: 5%;
  fill: #495749;
}

#shop {
  padding-right: 5%;
  width: 5%;
  fill: #495749;
}

#menu  {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  padding: 10px 2vh;
  font-size: calc(10px + 1vmin);
  width: 100%;
  align-items: center;
  align-self: center;
  overflow: hidden;
}

#menu > ul {
  flex-grow: 1;
}

#menu > ul > li {
  display: inline;
  margin-inline: 1vw;
  align-self: center;
  font-size: calc(10px + .5vmin);
}

ul, li {
  margin: 0;
  padding-left: 0;
  list-style: none;
  font-size: calc(10px + 1vmin);

}

.nav-menu > ul > li > a:link {
  color: #495749;
}

.footer-column > ul > li > a:link {
  color: white;
}

ul > li > a:hover {
  color: #f4ce14;
}

ul > li > a:visited {
  color: #9169a9;
}

.Footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  bottom: 0;
  position: absolute;
  background-color: #495749;
  font-size: small;
}

.footer-column {
  color: #ffffff;
  float: left;
  background-color: #495749;
  justify-content: space-between;
  width: 25vw;
  padding-top: 2%;
  padding-bottom: 1%;
  height: 10%;
  list-style-type: none;
}
.footer-column > ul {
  list-style-type: none;
  text-align: left;
}

.footer-column > img {
  filter: brightness(5);
  padding-left: 2.5vw;
  padding-top: 10%;
  justify-content: middle;
  width: 15vw;
}

.footer-column > nav > ul {
  list-style-type: none;
  text-align: left;
}

@media screen and (max-width: 600px) {

  .Header{
    background-color: #ffffff;
    min-height: 10vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    overflow: hidden;
  }

  .footer-column > img {
    float: middle;
    padding-top: 2%;
  }

  #menu > ul > li {
    visibility: hidden;
  }

  #icon {
    float: right;
    padding-right: 5%;
    padding-bottom: 5%;
    visibility: visible;
    fill: #495749;
  }

  #shop {
    visibility: hidden;
  }

}

