form {
    overflow-y: hidden;
    display: grid;
}

form > h1 {
    text-align: center;
    color: #495749;
}

.form-field {
    text-align: center;
    padding-bottom: 5%;
}

#continue {
    background-color: #495749;
    padding: 2px 10px;
    margin-bottom: 2% ;
    color: white;
    border-color: white;
    width: 20%;
    justify-self: center;
}


